version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: booking
    ports:
      - '5432:5432'
    volumes:
      - booking_data:/var/lib/postgresql/data

volumes:
  booking_data: {}
